html,
body {
    margin: 0;
    overflow: hidden;
    height: 100%;
}

/* Scale canvas with resize attribute to full size */
canvas {
    width: 80%;
    height: 100%;
}

#out{
    align-self:right;
    width: 20%;
    height: 100%;
    text-overflow: scroll;
}